{% load static %}
<div class="body-overlay" id="body-overlay"></div>

<!-- header start -->
<div class="navbar-area">
    <!-- topbar end-->
    <!-- <div class="topbar-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-7 align-self-center">
                    <div class="topbar-menu text-md-left text-center">
                        <ul class="align-self-center">
                            <li><a href="#">Author</a></li>
                            <li><a href="#">Advertisment</a></li>
                            <li><a href="#">Member</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 mt-2 mt-md-0 text-md-right text-center">
                    <div class="topbar-social">
                        <div class="topbar-date d-none d-lg-inline-block"><i class="fa fa-calendar"></i> Saturday,
                            October 7</div>
                        <ul class="social-area social-area-2">
                            <li><a class="facebook-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="youtube-icon" href="#"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a class="instagram-icon" href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="google-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- topbar end-->

    <!-- adbar end-->
    <div class="adbar-area bg-black d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5 align-self-center">
                    <div class="logo text-md-left text-center">
                        <a class="main-logo" href="index.html"><img src="{% static 'assets/img/logo.png' %}"
                                alt="img"></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 text-md-right text-center">
                    <a href="#" class="adbar-right">
                        <img src="{% static 'assets/img/add/1.png' %}" alt="img">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- adbar end-->

    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg">
        <div class="container nav-container">
            <div class="responsive-mobile-menu">
                <div class="logo d-lg-none d-block">
                    <a class="main-logo" href="index.html"><img src="assets/img/logo.png" alt="img"></a>
                </div>
                <button class="menu toggle-btn d-block d-lg-none" data-target="#nextpage_main_menu"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-left"></span>
                    <span class="icon-right"></span>
                </button>
            </div>
            <div class="nav-right-part nav-right-part-mobile">
                <a class="search header-search" href="#"><i class="fa fa-search"></i></a>
            </div>
            <div class="collapse navbar-collapse" id="nextpage_main_menu">
                <ul class="navbar-nav menu-open">
                    <li class="current-menu-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="current-menu-item">
                        <a href="">About</a>
                    </li>
                    <li class="current-menu-item">
                        <a href="">Contact</a>
                    </li>
                    <li class="current-menu-item">
                        <a href="admin/">Admin</a>
                    </li>

                    <!-- <li class="current-menu-item">
                        <a href="#trending">Trending News</a>
                    </li>
                    <li class="current-menu-item">
                        <a href="#latest">Latest News</a>
                    </li>
                    <li class="current-menu-item">
                        <a href="#grid">News Grid</a>
                    </li>
                    <li class="current-menu-item">
                        <a target="_blank" href="https://1.envato.market/5OQX2">Pro Version</a>
                    </li> -->
                </ul>
            </div>
            <div class="nav-right-part nav-right-part-desktop">
                <form method="get" action="{% url 'search_query' %}">

                    <div class="menu-search-inner">
                        <input type="text" name="search_query" placeholder="Search For"
                            value="{{request.GET.search_query}}">
                        <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
<!-- navbar end -->